@{
    ViewData["Title"] = "Home Page";
}
<h1>Default Blank Page~</h1>
<p>Get to adding stuff</p>
@Model IndexViewModel
<p>@Model.MyFriend.Name</p>
<p>@Model.Message</p>

<a href="/createfriend">Create Friend </a>
