@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <H2>FORM TRY</H2>
    <hr>
    <form action="post" id="practice">
        <input type="text" name="fn">
        <input type="text" name="ln">
        <input type="text" name="age">
        <input type="text" name="email">
        <input type="text" name="password">
        <input type="submit" value="create user">
    </form>
</body>
</html>