<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Form</title>
    
</head>
<body>
   <h1>
        Basic Form Index Page
    </h1>
<h1>Simple Form</h1>
<hr>
<br>
<form action="create" method="POST">
    <input type="text" name="name">
    <input type="text" name="color">
    <input type="submit" value="SEND COLOR AND NAME">
</form>
</body>
</html>

<h1>this is a renderbody test</h1>