
<div class="row">
    <a>FLOAT RIGHT GO HOME</a>
    <h1>_TRAIL NAME_</h1>
    <div class="row">
        <h2>_ DESC _ </h2>
    </div>
    <div class="row">
        <h2>_ LEN _ </h2>
    </div>
    <div class="row">
        <h2>_ ELEVATION _ </h2>
    </div>
</div>
<div class="row">
    <h1>ADD TABLE</h1>
</div>
<button>
    ADD TRAIL
</button>

