@{
    ViewData["Title"] = "Home Page";
}
<h2>Basic Form for Model Users</h2>

@model User
<form asp-action="post" asp-controller="User" method="post">
    <span asp-validation-for="Name"></span>
    <input type="text" name="Name" placeholder="name">
    <span asp-validation-for="Email"></span>
    <input type="text" name="Email" placeholder="email">
    <span asp-validation-for="Password"></span>
    <input type="text" name="Password" placeholder="password">
    <input type="submit" value="create user">
</form>

<h1>First name for User with ViewBag

</h1>
