@model List<Course>
<Student>
    <nav>
        <li>
            <a href="students">Students</a>
        </li>
        <li>
            <a href="courses">Courses</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="devon">Devon</a>
        </li>
        <li>
            <a href="python">Python</a>
        </li>
    </nav>
    <h2>
        All Courses
    </h2>

    @foreach(var course in Model) {
    <p>@course.title and your insructors name is @course.instructor</p>
    }