@model List<Student>
    <nav>
        <li>
            <a href="students">Students</a>
        </li>
        <li>
            <a href="courses">Courses</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="devon">Devon</a>
        </li>
        <li>
            <a href="python">Python</a>
        </li>
    </nav>  
    <h2>
        All Students
    </h2>

    @foreach(var student in Model) 
    {
    <p>@student.first_name and your last name is @student.last_name</p>
    }