@{ ViewData["Title"] = "Home Page"; }
@model Review

<h1>FORM FOR VIEWS</h1>

<form method="post" asp-controller="Home" asp-action="Post">
        <div class="form-group">
            <span asp-validation-for="restaurrant"></span>
            <label asp-for="restaurrant"></label>
            <input class="form-control" asp-for="restaurrant">
        </div>

        <div class="form-group">
            <span asp-validation-for="name"></span>
            <label asp-for="name"></label>
            <input class="form-control" asp-for="name">
        </div>

        <div class="form-group">
            <span asp-validation-for="review"></span>
            <label asp-for="review"></label>
            <input class="form-control" asp-for="review">
        </div>
        
        <div class="form-group">
            <span asp-validation-for="stars"></span>
            <label asp-for="stars"></label>
            <input class="form-control" asp-for="stars">
        </div>
    <input type="submit" value="Add Review">
</form>