<h1>ALL REVIEWS</h1>
<a href="/">MAIN PAGE</a>
@foreach(var game in ViewBag.AG)
{
    <textarea name="" id="" cols="30" rows="10">
        <h1>@game.gameName</h1>
        <p>@game.gameYear</p>
    </textarea>
    <hr>
    }