@{Layout = null;}
<h1>THIS is the name of your hero @ViewData["Hero"]</h1>

<!-- Functions like normal forms would with ViewBag being a way to access the information from the template -->

<a href="/">Index</a>