@{
    ViewData["Title"] = "Home Page";
}
<h1>CARS TEST FROM</h1>
<form action="post" method="POST">
    <input type="text" name="make" placeholder="CAR MAKE">
    <input type="text" name="model" placeholder="CAR MODEL">
    <input type="submit" name="add car">
</form>
