@model model_forms.Models.Friend
<h2>ADD FRIEND</h2>
<form asp-action="Create" asp-controller="Home" >
    <div class="form-group">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name">
    </div>
    <div class="form-group">
        <span asp-validation-for="Color"></span>
        <label asp-for="Color"></label>
        <input type="text" asp-for="Color">
    </div>
    <div class="form-group">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email">
    </div>
    <input type="submit" value="ADD FRIEND">
</form>

<!--
    asp-for allows you to reference the model that you pass in as an arguement.  
    Also lets you connect inputed form data with specific model field during creation.
    ALso lets you show validation errors if form is submitted incorrectly if given direction in controller (e.g. return View("_template", _model))
-->