@model List<Character>

    <a href="/">MAIN PAGE</a>
    <a href="users">USERS PAGE</a>
    <a href="games">GAMES PAGE</a>
    <a href="characters">CHARACTERS PAGE</a>
    <a href="gamecharacters">GAME CHARACTERS PAGE</a>
    

    @foreach(var user in Model) 
    {
        <h1>@user.superHero</h1>
    <hr> }