@model List<Game>

    <a href="/">MAIN PAGE</a>
    <a href="users">USERS PAGE</a>
    <a href="games">GAMES PAGE</a>
    <a href="characters">CHARACTERS PAGE</a>
    <a href="gamecharacters">GAMECHARACTERS PAGE</a>

  
    <h1>@Model</h1>