@{
    ViewData["Title"] = "Home Page";
}
<ol>
    <li>
        <a href="/">MAIN PAGE</a>
    </li>
    <li>
        <a href="users">USERS PAGE</a>
    </li>
    <li>
        <a href="games">GAMES PAGE</a>
    </li>
    <li>
        <a href="characters">CHARACTERS PAGE</a>
    </li>
<li>
    <a href="seeenin">SEENIN PAGE</a>
</li>
<li>
    <a href="gamecharacters">GAMECHARACTERS PAGE</a>
</li>
</ol>