@model List<User>

    <a href="/">MAIN PAGE</a>
    <a href="users">USERS PAGE</a>
    <a href="games">GAMES PAGE</a>
    <a href="characters">CHARACTERS PAGE</a>

    @foreach(var user in Model) 
    {
        <h1>@user.userName</h1>
    <hr> }