@{
    ViewData["Title"] = "Home Page";
}

<p>Session Info as follows: @ViewBag.Gen </p>
<p>Age equals:  @ViewBag.Age</p>

<a href="logout">LOGOUT</a>

<p>Viewbag gumby name <em>@ViewBag.Gumby.name</em></p>
<p>Viewbag hero power <em>@ViewBag.Hero1.power</em></p>
