@{
    ViewData["Title"] = "Home Page";
}

<div class="form">
    <form action="Post" action="POST">
        <label for="">Your Name:</label>
        <input type="text" name="name">

        <label for="">Dojo Location</label>
        <input type="text" name="location">

        <label for="">Language</label>
        <input type="text" name="langauge">

        <label for="">Coment</label>
        <textarea name="comment" id="" cols="30" rows="10" ></textarea>

        <input type="submit" value="SEND THAT THANG">
    </form>

</div>