@{
    ViewData["title"] = "Results";
}

<fieldset>
    <h2>Submitted Info</h2>
    <p>Name:    @ViewBag.Name</p>
    <p>Dojo Location:   @ViewBag.Location</p>
    <p>Favorite Langauge:   @ViewBag.Language</p>
    <p>Comment: @ViewBag.Comment</p>

</fieldset>

<button>
    <a href="/">Go Back</a>
</button>